* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
main {
  margin: 50px auto;
  width: 960px;
}

.box1 {
  border: 1px solid #eee;
  padding: 10px ;
  float: left;
  margin-right: 2%;
  width: 32%;
  position: relative;
}
.box1:last-child{
  margin-right: 0;
}
.step-img1 {
  height: 150px;
  background-image: url(img4/flow01.png);
  background-position: bottom;
  background-size: cover;
}
.step-img2 {
  height: 150px;
  background-image: url(img4/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.step-img3 {
  height: 150px;
  background-image: url(img4/flow03.png);
  background-position: bottom;
  background-size: cover;
}
.num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
  padding: 3px;
}

.title {
  margin: 15px 0 5px;
}


@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  .box1 {
    float: none;
    margin: 0 auto 20px;
    width: 90%;
  }
  .box1:last-child {
    margin: 0 auto;
}